@import common

.boards a
  text-decoration: underline

.boards
  border: 1px solid black
  border-collapse: collapse
  text-align: justify
  margin: 0 auto 0 auto

.boards td
  padding: 5px

.boards tr.top
  font-weight: bold
  font-size: 1rem
  background: $darkest

.boards tr:nth-child(2n)
  background: $dark

img.logo
  -webkit-user-drag: none
  user-select: none
  image-rendering: pixelated
  display: block
  margin: 0 auto 0 auto
